Jake Vanderplas <jakevdp@gmail.com> Jake Vanderplas <vanderplas@astro.washington.edu>
Jake Vanderplas <jakevdp@gmail.com> Jake Vanderplas <jakevdp@yahoo.com>
Jake Vanderplas <jakevdp@gmail.com> Jake VanderPlas <jakevdp@gmail.com>
Jake Vanderplas <jakevdp@gmail.com> Jacob Vanderplas <jakevdp@yahoo.com>
Brigitta Sipocz <bsipocz@gmail.com> Brigitta Sipocz <b.sipocz@gmail.com>
Morgan Fouesneau <mfouesn@astro.washington.edu> Morgan <morgan@fenrir.(none)>
Hans Moritz Günther <moritz.guenther@gmx.de> hamogu <moritz.guenther@gmx.de>
Daniel Andreasen <daniel.andreasen@astro.up.pt> DanielAndreasen <daniel.andreasen@astro.up.pt>
Chris Desira <cd15g13@soton.ac.uk> Chris <cd15g13@soton.ac.uk>
Hugo van Kemenade <hugovk@users.noreply.github.com> Hugo <hugovk@users.noreply.github.com>