include *.rst
include *.py
recursive-include examples *.py *.rst
recursive-include book_figures *.py *.rst
recursive-include paper_figures *.py *.rst
recursive-include astroML *.py
recursive-include astroML_addons *.py *.pyx *.c